* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-style: italic;
	font-family: 'Amiri', serif;
	background-color: #FFF0F5;
}
section {
	padding:5em 10em;
}
h1 {
	font-weight: bold;
	font-size:60px;
	text-align:center;
}
#intro {
	background-image:url(../images/children.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	height:90vh;
}
#slogan {
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#contact {
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}
